/* Partir la pantalla por la mitad */

body {
	background: #F1F8FF;
	color: black;
	font-family: 'Noto Sans', sans-serif;	
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #FAFBFC;
	font-size: 3rem;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	height: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card:hover {
	box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 1.175em 0.5em;
	transform: translate(-1px) scale(1.005);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 5px 0px 5px 0px;
	text-align: center;
}

.lista {
	width: 30%;
	padding: 20px;
	background-color: #DC4C3F;
}

.nota {
	width: 70%;
}

.btn-izquierdo {
	float: left;
}

.btn-derecho {

}

.navbar {
	overflow: hidden;
	background-color: #24292E;
	border-radius: 5px 5px 0px 0px;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #d1e8e2;
	color: black;
}

.navbar a.right-link {
	float: right;
}

.footer {
	padding: 21px;
	background: #24292e;
	border-radius: 0px 0px 5px 5px;
}

* {
	box-sizing: border-box;
}

